 input[type=file] {
    /* display: block */
	   	    width: 89px ;
        position:absolute;
    bottom:-30px;
    right:30px;

}


#icon{
    position:relative;
    width:150px;
    height:125px;
    border:1px solid #002255;
    float:left;
    margin-left:4px;
	margin-bottom:50px;
	background-color: white;
}

 img {

   /*   display: block;
    /*margin: 0 auto; 
	
	margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); */
  width: 240px;
  height: 52px; 
/*    max-height:125px;
  max-width:150px;   */
}

 footer {
                position: fixed;
                bottom: 0;
                width: 100%;
				z-index: 2;
                background-color: #A7A9AC;
        }
body{
	background-color: #EFF6FC;
}

/* to do
Add crop
Add select multiple button
Fix image #
Add numbers
At least 3 per row phone test
url name, easy access
style buttons
title?
move js from html
*/



.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;

  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
/*    overflow: visible !important;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

    -webkit-backface-visibility: hidden; */
}

#item1 {
  display: block;
  position: absolute;
  width: 240px;
  height: 52px;
  opacity: 0.70;
  -webkit-transform:rotateY(315deg) rotateX(345deg) translateY(0px) translateZ(550px);
   transform:  rotateY(315deg) rotateX(345deg) translateY(0px) translateZ(550px) ;
   -o-transform:rotateY(315deg) rotateX(345deg) translateY(0px) translateZ(550px);
  
  background: red;
}
#item2 {
  display: block;
  position: absolute;
  width: 240px;
  height: 52px;
  opacity: 0.70;
   -webkit-transform: rotateY(330deg) rotateX(345deg) translateY(5px) translateZ(550px);
   transform: rotateY(330deg) rotateX(345deg) translateY(5px) translateZ(550px);
  background: #0072bc; 
}
#item3 {
  display: block;
  position: absolute;
  width: 240px;
  height: 52px;
  opacity: 0.70;
    -webkit-transform: rotateY(345deg) rotateX(345deg) translateY(10px) translateZ(550px);
	 transform: rotateY(345deg) rotateX(345deg) translateY(10px) translateZ(550px);
  background: #39b54a; 
}
#item4 {
  display: block;
  position: absolute;
 
  width: 240px;
  height: 52px;
  opacity: 0.70;
    -webkit-transform: rotateY(0deg) rotateX(345deg) translateY(15px) translateZ(550px);
	 transform: rotateY(0deg) rotateX(345deg) translateY(15px) translateZ(550px);
  background: #f26522; 
}
#item5 {
  display: block;
  position: absolute;

  width: 240px;
  height: 52px;
  opacity: 0.70;
    -webkit-transform: rotateY(15deg) rotateX(345deg) translateY(10px) translateZ(550px);
	  transform: rotateY(15deg) rotateX(345deg) translateY(10px) translateZ(550px);
  background: #630460; 
}
#item6 {
  display: block;
  position: absolute;

  width: 240px;
  height: 52px;
  opacity: 0.70;
  -webkit-transform: rotateY(30deg) rotateX(345deg) translateY(5px) translateZ(550px);
    transform: rotateY(30deg) rotateX(345deg) translateY(5px) translateZ(550px);
  background: #8c6239;
}
#item7 {
  display: block;
  position: absolute;

  width: 240px;
  height: 52px;
  opacity: 0.70;
      -webkit-transform: rotateY(45deg) rotateX(345deg) translateY(0px) translateZ(550px);
	   transform: rotateY(45deg) rotateX(345deg) translateY(0px) translateZ(550px);
  background: teal;
}


